.prose
  :where(p code):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  border-radius: 4px;
  font-size: 85%;
  padding: 0.2em 0.4em;
}

.prose
  :where(p code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::before,
.prose
  :where(p code):not(
    :where([class~='not-prose'], [class~='not-prose'] *)
  )::after {
  content: '';
}
