---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <body>
      <a href="/">首页</a>
      <a href="/about/">关于</a>
      <a href="/blog/">blog</a>
      <h1>我的 Astro 网站</h1>
      <h1>关于我</h1>
      <h2>……和我的新 Astro 网站！</h2>

      <p>
        我正在学习 Astro
        的入门教程。这是我网站上的第二个页面，也是我自己建立的第一页面！
      </p>

      <p>
        随着我完成更多教程，该站点将更新，所以请继续查看我的旅程将如何进行吧！
      </p>
    </body>
  </body>
</html>
