---

---

<html lang="zh">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">首页</a>
    <a href="/about/">关于</a>
    <a href="/blog/">博客</a>

    <h1>我的 Astro 学习博客</h1>
    <p>这是我的 Astro 学习笔记</p>
    <ul>
      <li><a href="/posts/post-1/">文章 1</a></li>
      <li><a href="/posts/post-2/">文章 2</a></li>
      <li><a href="/posts/post-3/">文章 3</a></li>
    </ul>
  </body>
</html>
